@import "tailwindcss";

@theme {
  --color-brand-teal: #2dd4bf;
  --color-brand-purple: #a78bfa;
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0;
}